/*975 x 697 pc with inspect
iphone 375 x 677  width by height
p0cards are much bigger */
/* discard, computerWonBid, playerWonBid need font adjust */
.gameOver{
  position: absolute;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border:1px solid black;
  text-align: center;
}

.passBtn{
  grid-column: 2/5;
}
.dealBtn{
  position: absolute;
  left: 80%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.bidBtn:hover {
  background-color: yellow;

}
.bidBtn:active{
  background-color: orange;
}
.bidBtn{
  display:block;
  text-align: center;
  border:1px solid black;
  cursor: pointer;
}
.bid{
  text-align: center;
}
.bidLabel{
  text-align: center;
  border-bottom: 1px solid black;

}
.bidding{
  position: absolute;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border:1px solid black;
  text-align: center;

}
.scoreboard{
  position: absolute;
  display:grid;
  grid-template-columns: 1fr 1fr;
  right:5vw;
  border:1px solid black;
}
.scoreboardHeader{
  grid-column: 1 /  span 2;
  font-weight:bold;
  font-size: .7rem;
  border-bottom: 1px solid black;
}
.scoreLabel{
  font-size: .7rem;
  font-weight: bold;
  padding:0;
}
.scoreValue{
  font-size: .7rem;
  border-left: 1px solid black;
  padding:0;
  text-align: center;
}
.gameInfo{
  position: absolute;
  display:grid;
  grid-template-columns: 1fr 1fr;
  top:0;
  left:5vw;
  border:1px solid black;
}
.gameLabel{
  font-weight: bold;
  font-size: .7rem;
}
.gameValue{
  border-left: 1px solid black;
  font-size: .7rem;
  text-align: center;
}
.hidden{
  display:none !important;
}
.bidTable{
  display: block;
}
.bidButtons{
  position:absolute;
  display: inline-block;
  overflow:hidden;
  top:50px;
  margin:40vh 40vw;  /*top right bottom left*/
  transform: translateY(-50%);
  border: 1px solid black;
}
.computerWonBid{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color:white;
}
.playerSuitSelection{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color:white;
}
.discard{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color:white;
}
.hidden{
  display:none;
}
/*we need to display our cards the same as we numbered the arrays
west = 0, south = 1, east =2 north = 3*/

.player1, .player3{
  display: inline-block;
  position: absolute;
  width:11vw;
  transform: translateX(-50%);
}
.player0{
  left:-5vw;
}
.player1{
  bottom:2vh;
}
.player2{
  right:-3vw;
}


.player0, .player2{
  display: inline-block;
  position: absolute;
  width:11vw;
  transform: translateY(-50%);
  transform:rotate(90deg);
}

@media (max-width:500px){
  .player0, .player2{
    width:20vw;
  }
  .player1, .player3{
    width:25vw;
  }
  .player0{
  left:-8vw;
}
.player1{
  bottom:-8vh;
}
.player2{
  right:-8vw;
}
  .computerWonBid{
    font-size:10px;
  }
  .discard{
    font-size: 10px;
  }
  .playerSuitSelection{
    font-size: 10px;
  }
}

html{
  background-color: darkgreen;
}
img{
  max-width: 100%;
}
.p0c0{
  top:35vh;
}
.p0c1{
  top:38vh;           
}
.p0c2{
  top:41vh;         
}
.p0c3{
  top:44vh;  
}
.p0c4{
  top:47vh;          
}
.p0c5{
  top:50vh;           
}
.p1c0{
  left: 42%;         
}
.p1c1{
  left: 45%;
}
.p1c2{
  left: 48%;         
}
.p1c3{
  left: 51%;       
}
.p1c4{
  left: 54%;     
}
.p1c5{
  left: 57%;        
}
.p2c0{
  top:35vh;
  z-index: 5;
}
.p2c1{
  top:38vh;
  z-index: 4;
}
.p2c2{
  top:41vh;
  z-index: 3;
}
.p2c3{
  top:44vh;
  z-index: 2;
}
.p2c4{
  top:47vh;
  z-index: 1;
}
.p2c5{
  top:50vh;
  z-index: 0;
}
.p3c0{
  left: 42%; 
}
.p3c1{
  left:45%;
}
.p3c2{
  left:48%;
}
.p3c3{
  left:51%;
}
.p3c4{
  left:54%;
}
.p3c5{
  left:57%;
}
.translateY{
  transform: translateY(-20%);
  transition-duration: 1s;
}
.translatep0Play{
  transform: translateX(150%) rotate(90deg);
  transition-duration: 1s;
}
.translatep1Play{
  transform: translateY(-150% ) translateX(-60%);
  transition-duration: 1s;
}
.translatep2Play{
  position: absolute;
  transform: translateX(-150%) rotate(90deg);
  transition-duration: 1s;
}
.translatep3Play{
  position: absolute;
  transform: translateY(150%) translateX(-60%);
  transition-duration: 1s;
}
.trick0{
  transform: translateX(-700%);
  transition-duration: 1s;
}
.trick1{
  transform: translateY(700%);
  transition-duration: 1s;
}
.trick2{
  transform: translateX(700%);
  transition-duration: 1s;
}
.trick3{
  transform: translateY(-700%);
  transition-duration: 1s;
}
.darkenImage{
  filter:brightness(.3);
}
.gameOverMessage{
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}