.passBtn{
  grid-column: 2/5;
}
.dealBtn{
  position: absolute;
  left: 80%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.bidBtn:hover {
  background-color: yellow;

}
.bidBtn:active{
  background-color: orange;
}
.bidBtn{
  display:block;
  text-align: center;
  border:1px solid black;
  cursor: pointer;
}
.bid{
  text-align: center;
}
.bidLabel{
  text-align: center;
  border-bottom: 1px solid black;
  

}
.bidding{
  position: absolute;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border:1px solid black;
  text-align: center;

}
.scoreboard{
  position: absolute;
  display:grid;
  grid-template-columns: 1fr 1fr;
  right:5vw;
  border:1px solid black;
}
.scoreboardHeader{
  grid-column: 1 /  span 2;
  font-weight:bold;
  font-size: .7rem;
  border-bottom: 1px solid black;
}
.scoreLabel{
  font-size: .7rem;
  font-weight: bold;
  padding:0;
}
.scoreValue{
  font-size: .7rem;
  border-left: 1px solid black;
  padding:0;
  text-align: center;
}
.gameInfo{
  position: absolute;
  display:grid;
  grid-template-columns: 1fr 1fr;
  top:0;
  left:5vw;
  border:1px solid black;
}
.gameLabel{
  font-weight: bold;
  font-size: .7rem;
}
.gameValue{
  border-left: 1px solid black;
  font-size: .7rem;
  text-align: center;
}

.bidTable{
  display: block;
}
.bidButtons{
  position:absolute;
  display: inline-block;
  overflow:hidden;
  top:50px;
  margin:40vh 40vw;  /*top right bottom left*/
  transform: translateY(-50%);
  border: 1px solid black;
}

/*we need to display our cards the same as we numbered the arrays
west = 0, south = 1, east =2 north = 3*/

.player1, .player3{
  display: inline-block;
  position: absolute;
  width:11vw;
  transform: translateX(-50%);
}

.player0, .player2{
  display: inline-block;
  position: absolute;
  width:11vw;
  transform: translateY(-50%);
  transform:rotate(90deg);
}

@media (max-width:500px){
  .player0, .player1{
    width:25vw;
  }
  .player2, .player3{
    width:16vw;
  }
}

html{
  background-color: darkgreen;
}
img{
  max-width: 100%;
}
.p3c0{
  left: 42%; 
  
}
.p3c1{
  left:45%;
}
.p3c2{
  left:48%;
}
.p3c3{
  left:51%;
}
.p3c4{
  left:54%;
}
.p3c5{
  left:57%;
}
.p0c0{
  top:35vh;
  left:2vw;
}
.p0c1{
  top:38vh; 
  left:2vw;          
}
.p0c2{
  top:41vh;        
  left:2vw;  
}
.p0c3{
  top:44vh;  
  left:2vw;      
}
.p0c4{
  top:47vh; 
  left:2vw;           
}
.p0c5{
  top:50vh;   
  left:2vw;        
}
.p1c0{
  left: 42%;
  bottom:2vh;          
}
.p1c1{
  left: 45%;
  bottom:2vh;          
}
.p1c2{
  left: 48%;
  bottom:2vh;         
}
.p1c3{
  left: 51%;
  bottom:2vh;       
}
.p1c4{
  left: 54%;
  bottom:2vh;     
}
.p1c5{
  left: 57%;
  bottom:2vh;        
}
.p2c0{
  top:35vh;
  right:5vw;
}
.p2c1{
  top:38vh;
  right:5vw;
}
.p2c2{
  top:41vh;
  right:5vw;
}
.p2c3{
  top:44vh;
  right:5vw;
}
.p2c4{
  top:47vh;
  right:5vw;
}
.p2c5{
  top:50vh;
  right:5vw;
}