
*{
    box-sizing: border-box;
}.grid-container{
    display: grid;
    grid-template-columns: repeat(6, .8fr);
    background-color: blue;
    margin-left: 20vw;
    margin-right: 20vw;
}
.item img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.vert-container{
    display:grid;
    grid-template-rows: repeat(6, 5vw);
    background-color: blue;
}
.vert img{
    transform:rotate(90deg);
    object-fit: contain;
    max-width: 80%;
    max-height: 80%;
    
}
.rot{
    transform:rotate(90deg);
    object-fit: cover;
    max-width: 100vh;
    max-height: 100vw;
}